[submodule "abr4xas"]
	path = abr4xas
	url = https://github.com/abr4xas/pelican-simplegrey.git
[submodule "content"]
	path = content
	url = https://github.com/abr4xas/post.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "hauntr"]
	path = hauntr
	url = https://github.com/abr4xas/hauntr.git
[submodule "pelican-spot"]
	path = pelican-spot
	url = https://github.com/spinner-dev/pelican-spot.git
